<%- include ("../../partials/header") %>

    <div class="container">
        <p class="display-4"> <%= classes.name %> </p>
        <hr class="my-5" style="border: 1px solid black;" >
        <p style="font-size: 2rem;" >View Grades</p>
        <table class="table table-bordered table-striped table-primary">
            <thead>
                <tr>
                    <th scope="col">Roll Number</th>
                    <th scope="col">Name</th>
                    <%  classes.gradetitle.forEach((dt)=>{ %>
                        <th scope="col"><%= dt.title %> ( <%= dt.total %> ) </th> 
                    <% }) %>
                </tr>
            </thead>
            <tbody>
                <% classes.students.forEach((stu)=>{ %>
                    <tr>
                        <td><%=  stu.roll %></td>
                        <td><%=  stu.fullname %></td>
                        <% var total=0; %>
                        <%  stu.grade.forEach((dt)=>{ %>
                            <td > <%= dt.marks  %> </td>
                        <% }) %>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <a class="btn btn-outline-primary rounded-pill" href="/professor/class/<%= classes._id %>/grade/new">Add Grades </a>
    </div>

<%- include ("../../partials/footer") %>